@import '../../assets/style/flex-column';

.form {
  @extend %flex-column;
  margin: 106px auto 127px;
  width: 335px;
  gap: 30px;
  padding: 20px;
  box-shadow:
    -10px 7px 10px -8px rgba(0, 0, 0, 0.2),
    10px 7px 10px -8px rgba(0, 0, 0, 0.2),
    0px 10px 10px -5px rgba(0, 0, 0, 0.2);
  font-weight: 300;

  &__title {
    font-size: 25px;
    margin: 35px auto 0;
    font-family: inherit;
  }

  &__field-container,
  &__address {
    @extend %flex-column;
    width: 228px;
    gap: 20px;
    margin: auto;
  }

  &__address h4 {
    align-self: center;
  }

  &__btn-container {
    display: flex;
    gap: 20px;
  }

  &__btn {
    width: 148px;
    height: 37px;
    margin: auto;
  }
}
