@import '../../colors';

.welcome-view {
  &__wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    padding-top: 0;
  }

  &__content-container {
    grid-row: 1;
    grid-column: 1;
  }

  &__image_first {
    width: 278px;
    height: 242px;
    background-image: url('../../shared/assets/images/welcome-view-image_1.png');
    background-size: cover;
    box-shadow: 0 4px 10px 0 $purple-3;
  }

  &__image_second {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    width: 476px;
    height: 416px;
    background-image: url('../../shared/assets/images/welcome-view-image_2.png');
    background-size: cover;
    box-shadow: 0 4px 10px 0 $purple-3;
  }

  &__heading {
    margin: 0;
    padding: 60px 0;
    color: #121212;
    text-shadow: 0 4px 4px $black-2;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;

    &-logo {
      color: #514a7e;
      font-family: Bad Script;
      font-weight: 400;
    }
  }

  &__text {
    margin: 0;
    color: $medium-gray;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
  }
}

.button-container {
  grid-row: 2;
  grid-column: 1 / span 2;
  justify-self: center;
}
