.product-list-card {
  width: 280px;
  height: 492px;
  margin-top: 10px;

  &:hover {
    background-color: #efebe4;
    cursor: pointer;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }

  &__img {
    width: 280px;
    height: 320px;
    object-fit: cover;
  }

  &__description {
    display: block;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
