.product-list-card {
  width: 280px;
  height: 415px;

  & > * {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__img {
    width: 280px;
    height: 320px;
  }

  &__description {
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
