.product-list-card {
  width: 280px;
  margin-top: 10px;

  & > * {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__img {
    width: 280px;
    height: 320px;
    object-fit: cover;
  }

  &__description {
    font-size: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
