[name='password'] {
  padding-right: 25px;
  &::placeholder {
    position: relative;
    left: 12.5px;
  }
}

.show-password-button {
  position: absolute;
  transform: translateY(280%);
  align-self: flex-end;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/invisible.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s;
}

.show-password-button:hover {
  filter: contrast(10%);
}

.show-password-button_hidden {
  background-image: url('../../assets/icons/visible.png');
}

.checking-password-message {
  color: red;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  transition: all 0.2s;
}
