@import '../../../colors';

.form__input {
  border: none;
  background-color: $primary;
  border-bottom: 2px solid $medium-gray;
  outline: none;
  height: 30px;
  width: 225px;
  font-size: 18px;
}

.form__input::placeholder {
  color: $medium-gray;
  position: absolute;
  bottom: 5px;
  font-size: 18px;
}
