@import '../../colors';
$imageWidth: 575px;

.slider {
  // max-width: max-content;
  display: flex;
  align-items: center;
  margin: 0 auto;

  &__wrapper {
    overflow: hidden;
    cursor: pointer;
  }

  &__content-container {
    max-width: $imageWidth;
    display: flex;
    transition: all ease-in-out 0.5s;
  }

  &__slide {
    min-width: fit-content;
    max-width: $imageWidth;
    margin: 0 5%;
    user-select: none;
    display: flex;
  }

  img {
    flex-grow: 1;
    max-width: 100%;
    object-fit: cover;
  }

  &__button {
    position: relative;
    z-index: 1;
    margin: -$imageWidth * 0.12;
    width: $imageWidth * 0.05;
    height: $imageWidth;
    cursor: pointer;
    opacity: 0;
    transition: all ease-in-out 0.2s;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: $purple-2;
      border-radius: 3px;
      transform-origin: 0 50%;
    }

    &::before {
      top: calc(49.9%);
      transform: rotate(-45deg);
    }

    &::after {
      bottom: calc(49.9%);
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 1 !important;
    }

    &_next {
      // margin-right: 0;
      // margin-left: - $imageWidth * 0.15;
      transform: rotate(180deg);
    }
  }

  &:hover &__button {
    opacity: 0.7;
  }
}

.next {
  justify-content: flex-start;
  transform: translateX(-100%);
}

.prev {
  justify-content: flex-end;
  transform: translateX(100%);
}

.stop {
  transition: none;
  transform: translateX(0);
}
