@import '../../../src/shared/assets/style/flex-column';
@import '../../colors.scss';

.cart-list {
  @extend %flex-column;
  padding-bottom: 30px;

  &-card {
    width: 85%;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

    &__img {
      width: 178px;
      height: 165px;
      object-fit: cover;
      box-shadow: 0 4px 10px 0 $purple-1;
    }

    &__details {
      width: 50%;
      padding-left: 5%;
      @extend %flex-column;
      justify-content: space-between;
    }

    &__heading {
      color: $black-1;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }

    &__button-container {
      @extend %flex-column;
      justify-content: space-between;
      height: 60%;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;

      &_remove {
        max-width: 120px;
      }

      &_clear {
        width: 178px;
      }
    }

    &__quantity-controls {
      max-width: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: $purple-2;
    }

    &__quantity-controls {
      display: flex;
      justify-content: space-between;
    }
  }

  &__cost-container {
    width: 300px;
    @extend %flex-column;
    font-size: 20px;

    &._list {
      justify-content: space-between;
      width: auto;
      flex-direction: row;
      align-items: last baseline;
      padding-bottom: 30px;
    }

    &._card {
      width: 105px;
    }

    &__price {
      color: $purple-2;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
    }
  }

  &__promocode {
    box-sizing: border-box;
    padding: 11px 16px;
    margin: 4px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    font-size: 16px;
  }
}
