@import '../../colors';

.products-filter {
  width: fit-content;
  padding-right: 16px;
  position: sticky;
  top: 75px;

  @media (max-width: 590px) {
    background-color: $primary;
    position: sticky;
    top: 105px;
    width: 100%;
    z-index: 5;
    padding: 0;
  }

  & input {
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
    }
  }

  & > *:not(:last-child) {
    margin-bottom: 8px;
  }

  &__field-title {
    margin-bottom: 4px;
  }

  &__price {
    &-input {
      width: 45%;

      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__empty-area {
    height: 100%;

    @media (max-width: 590px) {
      display: none;
    }
  }

  //&__categories {
  //  position: sticky;
  //  top: 75px;
  //}
  //
  //&__prices {
  //  position: sticky;
  //  top: 130px;
  //}
}
