.products-filter {
  width: fit-content;
  padding-right: 16px;

  & > *:not(:last-child) {
    margin-bottom: 8px;
  }

  &__field-title {
    margin-bottom: 4px;
  }

  &__price {
    &-input {
      width: 45%;

      &-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
