.products-list-page {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 14px;

  &__filter {
    position: sticky;
    top: 105px;
    z-index: 10;

    &-empty-area {
      height: 100%;
    }
  }

  @media (max-width: 590px) {
    flex-direction: column;
    align-items: center;
  }
}
