$primary: #fffdf5;
$white-1: rgba(255, 253, 245, 1);
$black-1: #121212;
$black-2: rgba(0, 0, 0, 0.25);
$black-3: rgba(51, 51, 51, 0.05);
$purple-1: rgba(81, 74, 126, 0.36);
$purple-2: rgba(81, 74, 126, 1);
$purple-3: rgba(81, 74, 126, 0.4);
$gray-1: rgba(125, 125, 125, 1);
$medium-gray: #7d7d7d;
$blue: #2465b0;
$blur: rgba(255, 255, 255, 0.693);
