@font-face {
  font-family: 'Roboto';
  src: url('./shared/assets/fonts/Roboto-Light.ttf');
}

html,
body {
  font-family: 'Roboto', serif;
  height: 100%;
  font-weight: 600;
  background-color: #fffdf5;
}

body {
  width: 100%;
  margin: 0;
}

body > * {
  border-bottom: 1px solid gray;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 8px;
}
