@font-face {
  font-family: 'Roboto';
  src: url('./shared/assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Bad Script';
  src: url('./shared/assets/fonts/BadScript-Regular.ttf');
}

html,
body {
  font-family: 'Roboto';
  height: 100%;
  font-weight: 600;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1170px;
}

.container {
  margin: 0 8px;
}
