@font-face {
  font-family: 'Roboto';
  src: url('./shared/assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Bad Script';
  src: url('./shared/assets/fonts/BadScript-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', serif;
  font-weight: 600;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #fffdf5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
section,
footer {
  padding: 0 9.64%;
}

.page {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
  padding: 75px 0;
}

.container {
  margin: 0 8px;
}

.dom-wrapper {
  overflow: auto;
}
