@import '../../../src/shared/assets/style/flex-column';
@import '../../colors';

.user {
  @extend %flex-column;
  margin: 20px auto;
  width: 228px;

  &__info,
  &__address {
    @extend %flex-column;
    margin-bottom: 20px;
    gap: 20px;
  }

  &__input {
    border-bottom: 2px solid #000000;

    &[value] {
      color: #2465b0;
      font-size: 20px;
      font-weight: 500;
    }

    &._edit {
      background-color: rgba(151, 155, 151, 0.27);
    }

    &._edit:focus {
      background-color: $primary;
    }
  }

  &__addresses {
    margin: 50px auto;
    @extend %flex-column;
  }

  h4 {
    font-size: 20px;
    align-self: center;
  }
}
