@import '../../../src/shared/assets/style/flex-column';
@import '../../colors';

.user {
  @extend %flex-column;
  margin: 20px auto;
  width: 40%;
  @media (max-width: 820px) {
    width: 335px;
  }

  &__loader {
    height: 100px;
  }

  &__info,
  &__address {
    @extend %flex-column;
    margin: 15px 0;
    gap: 20px;
    width: 100%;
  }

  .modal {
    @extend %flex-column;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 350px;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 30px;
    border: 1px solid #0a0909;
    background: $primary;
  }

  & .input {
    &[value] {
      color: $blue;
      font-size: 20px;
      font-weight: 500;
    }

    &._edit {
      background-color: rgba(151, 155, 151, 0.27);
    }

    &._edit:focus {
      background-color: $primary;
    }
  }

  &__addresses {
    width: 100%;
    margin: auto;
    @extend %flex-column;
  }

  h4 {
    font-size: 20px;
    align-self: center;
  }
}
